<section class="advantages">
  <div class="container advantages-container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <div class="advantages-list-container">
      <ol class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <picture>
      <source
        srcset="
          ./img/advantages/big-desktop-advantages.jpg    1x,
          ./img/advantages/big-desktop-advantages@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/advantages/desktop-advantages.jpg    1x,
          ./img/advantages/desktop-advantages@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/tablet-advantages.jpg    1x,
          ./img/advantages/tablet-advantages@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/advantages/mobile-advantages.jpg    1x,
          ./img/advantages/mobile-advantages@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="./img/advantages/mobile-advantages.jpg"
        alt="yacht cabin"
      />
    </picture>
  </div>
</section>
