<footer class="section-footer">
    <div class="footer-container">
    <a class="title-footer" href="./index.html">yachtjet</a>
         <nav class="nav-footer">
             <a class="link-footer" href="#about-us">ABOUT</a>
             <a class="link-footer" href="#our-yachts">YACHTS</a>
             <a class="link-footer" href="#revews">REVEIWS</a>
        </nav>
    <ul class="list-icons-footer">
        <li class="link-icons-footer">
          <a href="https://www.instagram.com/goitclub/" class="icons-footer">
            <svg class="icon-footer" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="link-icons-footer">
          <a href="https://www.youtube.com/c/GoIT" class="icons-footer">
            <svg class="icon-footer" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="link-icons-footer">
          <a href="https://www.facebook.com/goITclub/" class="icons-footer">
            <svg class="icon-footer" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        </ul>
    </div>
        <p class="footer-paragraph">
           No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </p>
        <div class="container-paragraph-footer">
            <p class="mini-paragraph-footer">2023. Yacht Adventures</p>
            <p class="mini-paragraph-footer">Privacy Police</p>
        </div>
</footer>