<header class="header">
  <div class="header__container">
    <div class="header__log">yachtjet</div>
    <nav class="header__navbar">
      <ul class="navbar__list">
        <li class="navbar__item"><a href="#">About</a></li>
        <li class="navbar__item"><a href="#">Yachts</a></li>
        <li class="navbar__item"><a href="#">Reviews</a></li>
      </ul>
    </nav>
    <div class="header__links">
      <ul class="links__list">
        <li class="links__item">
          <a href="#">
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="links__item">
          <a href="#">
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="links__item">
          <a href="#">
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger__button">
      <svg
        class="header__icons"
        aria-label="antenna"
        width="28px"
        height="28px"
      >
        <use href="./img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
