<header class="header">
  <div class="header__container">
    <a class="header__log" href="./index.html">yachtjet</a>
    <nav class="header__navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="link-header" href="#about-us">About</a>
        </li>
        <li class="navbar__item">
          <a class="link-header" href="#our-yachts">Yachts</a>
        </li>
        <li class="navbar__item">
          <a class="link-header" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="header__links">
      <ul class="links__list">
        <li class="links__item">
          <a
            class="add-icon"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="links__item">
          <a
            class="add-icon"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="links__item">
          <a
            class="add-icon"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg
              class="header__icons"
              aria-label="antenna"
              width="20px"
              height="20px"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger__button js-open-menu">
      <svg
        class="header__icons"
        aria-label="antenna"
        width="28px"
        height="28px"
      >
        <use href="./img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
