<div class="mobile-menu is-open">
  <div class="mobile-menu-div container">
    <div class="mobile-menu-head">
      <a class="mobile-menu-head-logo" href="">yachtjet</a>
      <button type="button" class="mobile-menu-close-btn">
        <svg class="mobile-menu-btn-icon" fill="#055545" width="16" height="16">
          <use href="../img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <a class="mobile-menu-link" href="">about</a>
      <a class="mobile-menu-link" href="">yachts</a>
      <a class="mobile-menu-link" href="">reviews</a>
    </nav>
    <ul class="mobule-menu-social-list">
      <li class="mob-menu-list-item">
        <a class="mob-menu-social-link" href="">
          <svg class="mob-menu-social-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-social-link" href="">
          <svg class="mob-menu-social-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-social-link" href="">
          <svg class="mob-menu-social-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
