<div class="mobile-menu">
  <div class="mobile-header">
    <a class="mobile-header-logo" href=""></a>
    <button type="button" class="mobile-close-btn">
      <svg class="mobile-btn-icon">
        <use href="../img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-menu-nav">
    <a class="mobile-menu-link" href="">about</a>
    <a class="mobile-menu-link" href="">yachts</a>
    <a class="mobile-menu-link" href="">reviews</a>
  </nav>
  <ul class="mobule-menu-social-list">
    <li class="mob-menu-list-item">
      <a class="mob-menu-social-link" href="">
        <svg class="mob-menu-social-icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-list-item">
      <a class="mob-menu-social-link" href="">
        <svg class="mob-menu-social-icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-list-item">
      <a class="mob-menu-social-link" href="">
        <svg class="mob-menu-social-icon">
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
