<section class="our-yacht" id="our-yachts">
  <div class="container">
    <h2 class="subtitle-our-yacht">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yacht-card-list">
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="
                ../img/our-yachts/big-desktop-our-yachts1.jpg    1x,
                ../img/our-yachts/big-desktop-our-yachts1@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ../img/our-yachts/desktop-our-yachts1.jpg    1x,
                ../img/our-yachts/desktop-our-yachts1@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ../img/our-yachts/tablet-our-yachts1.jpg    1x,
                ../img/our-yachts/tablet-our-yachts1@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/our-yachts/mobile-our-yachts.jpg    1x,
                ../img/our-yachts/mobile-our-yachts@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts1.jpg"
              alt="Yacht 'Arrow' "
            />
          </picture>
          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">Arrow</p>
              <p class="characteristic-class-yacht">Luxury yahts</p>
            </li>
          </ul>
          <hr />
          <ul class="characteristic-list">
            <li class="characteristic-item">
              <p class="characteristic-name">length</p>
              <p class="characteristic-element">48m(155ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">builder</p>
              <p class="characteristic-element">Admiral</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">built</p>
              <p class="characteristic-element">2021</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">guests</p>
              <p class="characteristic-element">11 in 5 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">price</p>
              <p class="characteristic-element">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="
                ../img/our-yachts/big-desktop-our-yachts2.jpg    1x,
                ../img/our-yachts/big-desktop-our-yachts2@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ../img/our-yachts/desktop-our-yachts2.jpg    1x,
                ../img/our-yachts/desktop-our-yachts2@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ../img/our-yachts/tablet-our-yachts2.jpg    1x,
                ../img/our-yachts/tablet-our-yachts2@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/our-yachts/mobile-our-yachts2.jpg    1x,
                ../img/our-yachts/mobile-our-yachts2@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts2.jpg"
              alt="Yacht 'Benetti Oasis' "
            />
          </picture>
          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">benetti oasis 40m bo122</p>
              <p class="characteristic-class-yacht">Luxury yahts</p>
            </li>
          </ul>
          <hr />
          <ul class="characteristic-list">
            <li class="characteristic-item">
              <p class="characteristic-name">length</p>
              <p class="characteristic-element">41m (133ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">shipyard</p>
              <p class="characteristic-element">Benetti</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">built</p>
              <p class="characteristic-element">2025</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">guests</p>
              <p class="characteristic-element">10 in 5 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">price</p>
              <p class="characteristic-element">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="
                ../img/our-yachts/big-desktop-our-yachts3.jpg    1x,
                ../img/our-yachts/big-desktop-our-yachts3@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ../img/our-yachts/desktop-our-yachts3.jpg    1x,
                ../img/our-yachts/desktop-our-yachts3@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ../img/our-yachts/tablet-our-yachts3.jpg    1x,
                ../img/our-yachts/tablet-our-yachts3@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/our-yachts/mobile-our-yachts3.jpg    1x,
                ../img/our-yachts/mobile-our-yachts3@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts3.jpg"
              alt="Yacht 'Belle Anne'"
            />
          </picture>

          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">Belle Anna</p>
              <p class="characteristic-class-yacht">Luxury yahts</p>
            </li>
          </ul>
          <hr />
          <ul class="characteristic-list">
            <li class="characteristic-item">
              <p class="characteristic-name">length</p>
              <p class="characteristic-element">50m(155ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">shipiard</p>
              <p class="characteristic-element">ISA</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">built</p>
              <p class="characteristic-element">2012</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">guests</p>
              <p class="characteristic-element">12 in 6 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">price</p>
              <p class="characteristic-element">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="yacht-rental-btn" href="#rent-a-yacht">Yacht rental</a>
  </div>
</section>
