<section class="our-yacht" id="our-yachts">
  <div class="container">
    <h2 class="subtitle-our-yacht">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yacht-card-list">
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="../img/our-yachts/big-desktop-our-yachts1.jpg x1, ../img/our-yachts/big-desktop-our-yachts1@2x.jpg 2x"
              media="(min-width:1440px)"
            />
            <source
              srcset="../img/our-yachts/desktop-our-yachts1.jpg x1, ../img/our-yachts/desktop-our-yachts1@2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="../img/our-yachts/tablet-our-yachts1.jpg x1, ../img/our-yachts/tablet-our-yachts1@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="../img/our-yachts/mobile-our-yachts1.jpg x1, ../img/our-yachts/mobile-our-yachts1@2x.jpg 2x"
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts1.jpg"
              alt=""
            />
          </picture>
          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">Arrow</p>
              <p class="characteristic-class-yacht">LUXURY YAHTS</p>
            </li>
            <hr />
            <li class="characteristic-item">
              <p class="characteristic-name">LENGTH</p>
              <p class="characteristic-element">48m(155ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">BUILDER</p>
              <p class="characteristic-element">Admiral</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">BUILT</p>
              <p class="characteristic-element">2021</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">GUESTS</p>
              <p class="characteristic-element">11 in 5 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">PRICE</p>
              <p class="characteristic-element">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="../img/our-yachts/big-desktop-our-yachts2.jpg x1, ../img/our-yachts/big-desktop-our-yachts2@2x.jpg 2x"
              media="(min-width:1440px)"
            />
            <source
              srcset="../img/our-yachts/desktop-our-yachts2.jpg x1, ../img/our-yachts/desktop-our-yachts2@2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="../img/our-yachts/tablet-our-yachts2.jpg x1, ../img/our-yachts/tablet-our-yachts2@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="../img/our-yachts/mobile-our-yachts2.jpg x1, ../img/our-yachts/mobile-our-yachts2@2x.jpg 2x"
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts2.jpg"
              alt=""
            />
          </picture>
          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">BENETTI OASIS 40M BO122</p>
              <p class="characteristic-class-yacht">LUXURY YAHTS</p>
            </li>
            <hr />
            <li class="characteristic-item">
              <p class="characteristic-name">LENGTH</p>
              <p class="characteristic-element">41m (133ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">SHIPYARD</p>
              <p class="characteristic-element">Benetti</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">BUILT</p>
              <p class="characteristic-element">2025</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">GUESTS</p>
              <p class="characteristic-element">10 in 5 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">PRICE</p>
              <p class="characteristic-element">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yacht-card-item">
        <div class="our-yacht-card">
          <picture>
            <source
              srcset="../img/our-yachts/big-desktop-our-yachts3.jpg x1, ../img/our-yachts/big-desktop-our-yachts3@2x.jpg 2x"
              media="(min-width:1440px)"
            />
            <source
              srcset="../img/our-yachts/desktop-our-yachts3.jpg x1, ../img/our-yachts/desktop-our-yachts3@2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="../img/our-yachts/tablet-our-yachts3.jpg x1, ../img/our-yachts/tablet-our-yachts3@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="../img/our-yachts/mobile-our-yachts3.jpg x1, ../img/our-yachts/mobile-our-yachts3@2x.jpg 2x"
              media="(max-width:767px)"
            />
            <img
              class="our-yacht-img"
              src="../img/our-yachts/mobile-our-yachts3.jpg"
              alt=""
            />
          </picture>

          <ul class="characteristic-list">
            <li class="characteristic-item-name">
              <p class="characteristic-name-yacht">BELLE ANNA</p>
              <p class="characteristic-class-yacht">LUXURY YAHTS</p>
            </li>
            <hr />
            <li class="characteristic-item">
              <p class="characteristic-name">LENGTH</p>
              <p class="characteristic-element">50m(155ft)</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">SHIPYARD</p>
              <p class="characteristic-element">ISA</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">BUILT</p>
              <p class="characteristic-element">2012</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">GUESTS</p>
              <p class="characteristic-element">12 in 6 cabins</p>
            </li>
            <li class="characteristic-item">
              <p class="characteristic-name">PRICE</p>
              <p class="characteristic-element">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="yacht-rental-btn" href="#rent-a-yacht">Yacht rental</a>
  </div>
</section>
