<!-- ==============REVIEWS section=============== -->
<h2 class="review-title-h">YachtJet take pride in providing the best possible service and experience to our customers</h2>
<p class="review-title-p">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - 
    read on to find out what they have to say about their journey with us.</p>

<ul>
    <li>
        <picture>
        <source srcset="/src/img/reviews/reviews1.png 1x, /src/img/reviews/reviews1@2x.png 2x" media="(min-width: 320px)">
        <img src="/src/img/reviews/reviews1.png" 
alt="john wax"
width="56"
height="56">
    </picture>
        <h3>John Wax</h3>
    <p>I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. 
        The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.</p>
        
    </li>
    <li>
        <picture>
        <source srcset="/src/img/reviews/reviews2.png 1x, /src/img/reviews/reviews2@2x.png 2x" alt="Victoria" srcset="">
        <img src="/src/img/reviews/reviews2.png" 
alt="Victoria Romashenko"
width="56"
height="56">
    </picture>
        <h3>Victoria Romashenko</h3>
            <p>The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. 
                The yacht was beautifully designed,
               with all the amenities we needed, and the crew was attentive and friendly.</p>
        
    </li>
    <li>
        <picture>
            <source srcset="/src/img/reviews/reviews3.png 1x, /src/img/reviews/ireviews3@2x.png 2x" alt="Ihor Trachuk" srcset="">
            <img src="/src/img/reviews/reviews3.png" 
    alt="Ihor Trachuk"
    width="56"
    height="56">
        </picture>
        <h3>Ihor Trachuk</h3>
            <p>The Azimut 80 was the most luxurious yacht I've ever been on. 
                The cabins were spacious and elegant,
                and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
        
    </li>
</ul>

<!-- <picture>
    <source srcset="./images/portfol5.jpg  1x, ./images/screen-desk@2x.jpg 2x" media="(min-width: 1158px)">
    <source srcset="./images/screen-tablet.jpg 1x, ./images/screen-tablet@2x.jpg 2x" media="(min-width: 768px)">
    <source srcset="./images/screen-mobile.jpg 1x, ./images/screen-mobile@2x.jpg 2x"media="(min-width: 320px)" >

<img src="./images/portfol5.jpg" 
alt="Screen"
width="360"
height="300">
</picture> -->