/*================== MOBILE ADVANTAGES STYLES ============= */
.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages-list-container {
  max-width: 335px;
  border-radius: 24px;
  background: #1b414b;
  padding: 80px 20px;
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  counter-reset: counter;
}

.advantages-item {
  counter-increment: counter;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.advantages-item::before {
  content: counter(counter, decimal-leading-zero);
  display: block;
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
}

.advantages-item-text {
  display: block;
}

.advantages-item-text::before {
  content: '';
  display: block;
  border-radius: 18px;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
  margin-bottom: 18px;
}

.advantages-img {
  border-radius: 24px;
}
/*============== /MOBILE ADVANTAGES STYLES ================ */

/*============== TABLET ADVANTAGES STYLES ================= */
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .advantages-list-container {
    max-width: 704px;
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 44px;
  }

  .advantages-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .advantages-item {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-item::before {
    font-size: 32px;
  }
}
/*============== /TABLET ADVANTAGES STYLES ================= */

/*============== DESKTOP ADVANTAGES STYLES ================= */
@media screen and (min-width: 1280px) {
  .advantages-list-container {
    max-width: 716px;
    padding: 90px 50px;
    margin-bottom: 0px;
  }

  .advantages-container {
    display: flex;
    gap: 32px;
  }
}
/*============== /DESKTOP ADVANTAGES STYLES ================= */

/*============== 1440 DESKTOP ADVANTAGES STYLES =============== */
@media screen and (min-width: 1440px) {
  .advantages-list-container {
    max-width: 768px;
  }
} /*============== /1440 DESKTOP ADVANTAGES STYLES =============== */
