*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #0e1823;
  color: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.all-title-second {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.background-hero {
  margin: 0 auto;
  background-image: url('../img/hero/mobile-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 375px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-hero {
    background-image: url('../img/hero/mobile-hero@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 33px;
  }

  .background-hero {
    margin: 0 auto;
    background-image: url('../img/hero/tablet-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url('../img/hero/tablet-hero@2x.jpg');
    }
  }

  .all-title-second {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 50px;
    max-width: 1280px;
  }

  .background-hero {
    margin: 0 auto;
    background-image: url('../img/hero/desktop-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1280px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url('../img/hero/desktop-hero@2x.jpg');
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .background-hero {
    margin: 0 auto;
    background-image: url('../img/hero/big-desktop-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url('../img/hero/big-desktop-hero@2x.jpg');
    }
  }
}
