
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #0e1823;
    color: #fbfbfb;
}


.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}


/* HERO SECTION MOBILE VERSION */

.hero-sec-div {
    padding-top: 198px;
    padding-bottom: 243px;
}

.hero-sec-title {
    color: #FBFBFB;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 335px;
    margin-bottom: 24px;
}

.hero-sec-text {
    max-width: 335px;
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 38px;
}

.hero-sec-button {
    display: block;
    padding: 14px 32px;
    border-radius: 15px;
    background: #1B414B;
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    border-color: transparent;
    margin: 0 auto;
}

/* HERO SECTION TABLET VERSION */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .hero-sec-div {
     /* display: flex;
     flex-direction: column;
     align-items: center; */
     padding-top: 200px;
     padding-bottom: 215px;
    }


    .hero-sec-title {
        font-size: 70px;
        line-height: 70px;
        letter-spacing: -1.4px;
        max-width: 704px;
    }


    .hero-sec-text {
                font-size: 16px;
                line-height: 140%;
                max-width: 597px;
            margin-bottom: 48px;
        
    }



    .hero-sec-button {
        padding: 16px 40px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        line-height: 110%;
        letter-spacing: -0.36px;
    }


}
















@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 50px;
    }
}