body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #0e1823;
  color: #fbfbfb;
}

/* HERO SECTION MOBILE VERSION */

.hero-sec-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 198px;
  padding-bottom: 243px;
}

.hero-sec-title {
  color: #fbfbfb;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  max-width: 335px;
  margin-bottom: 24px;
  margin-top: 198px;
}

.hero-sec-text {
  max-width: 335px;
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 38px;
}

.hero-sec-link {
  padding: 14px 32px;
  text-align: center;
  border-radius: 15px;
  background: #1b414b;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  border-color: transparent;
  transition: background-color 250ms linear, color 250ms linear;
  margin-bottom: 243px;
}

.hero-sec-link:hover,
.hero-sec-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

/* HERO SECTION TABLET VERSION */

@media screen and (min-width: 768px) {
  .hero-sec-div {
    padding-top: 200px;
    padding-bottom: 215px;
  }

  .hero-sec-title {
    font-size: 70px;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 704px;
    margin-top: 200px;
  }

  .hero-sec-text {
    font-size: 16px;
    line-height: 140%;
    max-width: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .hero-sec-link {
    padding: 16px 40px;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 215px;
  }
}

/* HERO SECTION DESKTOP VERSION 1280PX */

@media screen and (min-width: 1280px) {
  .hero-sec-div {
    padding-top: 155px;
    padding-bottom: 180px;
  }

  .hero-sec-title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.6px;
    max-width: 1001px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 155px;
  }

  .hero-sec-link {
    margin-bottom: 180px;
  }
}

/* HERO SECTION DESKTOP VERSION 1440PX */

@media screen and (min-width: 1440px) {
  .hero-sec-div {
    padding-top: 155px;
    padding-bottom: 180px;
  }
}
