/* ======= Section Rent a yacht ======= */

.rent-a-yacht-title {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; 
    letter-spacing: -0.02em;
    padding-bottom: 40px;
}

